version: "3"
services:
  app:
    container_name: go_app
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis

    networks:
      - app_network
  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app_network
    restart: always

  postgres:
    container_name: sheng_postgres
    platform: linux/x86_64
    image: postgres:15
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: postgres -c 'shared_buffers=256MB' -c 'max_connections=200'
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: root
      TZ: "/usr/share/zoneinfo/Asia/Tokyo"
    ports:
      - "5433:5432"
    networks:
      - app_network

networks:
  app_network:

volumes:
  postgres-data:
    driver: local
